:root {
    font-size: 16px;
}

*, *::after, *::before {
    font-family: 'Titillium Web', sans-serif;
    box-sizing: border-box;
}

body {
    margin: 0;
}

.page-container {
    display: flex;
    margin: 0 200px;
    height: 100vh;
}

.picture-container {
    background: url(pic.jpg);
    width: 300px;
    background-size: cover;
    background-position: center;
}

.info-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;

    background-color: rgb(245, 245, 245);
}

.description-section {
    padding: 25px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.description-section > p {
    margin: 0;
    font-weight: 700;
}

.form-section {
    background-color: rgb(255, 255, 255);
    box-shadow: -3px 5px 5px rgba(0, 0, 0, 0.2);

    padding: 10px 25px 35px 25px;

    display: flex;
    flex-direction: column;
    gap: 10px;
}

.form-section > p {
    margin: 0;
    font-weight: 700;
    font-size: 1.2rem;
}

.flex-container {
    display: flex;
    gap: 50px;
}

.input-container > label {
    display: block;
    font-size: 0.8rem;
    font-weight: 600;
}

.input-container > input {
    width: 200px;
}

.button-section {
    padding: 25px;
}

.button-section > button {
    margin-bottom: 20px;
    padding: 7px 25px;
    font-weight: 700;
}

.log-in-container {
    display: flex;
    gap: 3px;
}