:root {
    font-size: 16px;
}

*, *::after, *::before {
    font-family: 'Titillium Web', sans-serif;
    box-sizing: border-box;
}

body {
    margin: 0;
}

.page-container {
    display: flex;
    margin: 0 15%;
    height: 100vh;
}

.picture-container {
    background: url(pic.jpg);
    width: 300px;
    min-width: 150px;
    background-size: cover;
    background-position: center;
}

.info-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;

    background-color: rgb(245, 245, 245);
}

.description-section {
    padding: 25px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.description-section > p {
    margin: 0;
    font-weight: 700;
}

.form-section {
    background-color: rgb(255, 255, 255);
    box-shadow: -3px 5px 5px rgba(0, 0, 0, 0.2);

    padding: 10px 25px 35px 25px;

    display: flex;
    flex-direction: column;
    gap: 10px;
}

.form-section > p {
    margin: 0;
    font-weight: 700;
    font-size: 1.2rem;
    color: rgb(50, 50, 50);
}

.flex-container {
    display: flex;
    gap: 50px;
}

.input-container > label {
    display: block;
    font-size: 0.8rem;
    font-weight: 600;
    color: rgb(50, 50, 50);
}

.input-container > input {
    width: 200px;
    height: 25px;
    border-radius: 5px;
    border: solid 1.5px #E5E7EB;
    padding: 0 5px;
}

.input-container > input:focus {
    outline: solid 1.5px rgb(85, 127, 255);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
}

.input-container > input:invalid {
    outline: solid 1.5px rgb(255, 0, 0);
}

.button-section {
    padding: 25px 25px;
}

.button-section > button {
    margin-bottom: 20px;
    padding: 7px 35px;
    font-weight: 600;
    border: none;
    background-color: #596D48;
    color: #fff;
    border-radius: 5px;

    cursor: pointer;
}

.button-section > button:hover {
    background-color: #70865d;
}

.button-section > button:active {
    background-color: #425630;}

.log-in-container {
    display: flex;
    gap: 3px;
}

.log-in-container > div,
.log-in-container > a {
    font-size: 0.8rem;
}

.log-in-container > a {
    text-decoration: none;
    color: #596D48;
    font-weight: 600;
}

.log-in-container > a:hover {
    text-decoration: underline;
}